@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@500&display=swap');

body {
    margin: 0 auto;
    padding: 0;
}

body h1, h2, h3 {
    font-family: Roboto Mono, sans-serif;
    
}

body p {
    font-family: Lato, arial;
}

#header {
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0089BA;
}

#logo {
    margin: 0 auto;
    padding: 0 25px;
    float: left;
    letter-spacing: 3px;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    font-family: Roboto Mono, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 3%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #7B556F;
}

#hero-main {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image.jpg') no-repeat center center
}

#hero-text {
    background-color: #171422;
    color: #fafafa;
    height: 300px;
    width: 450px;
    border-radius: 10%;
    font-size: 120%;
    float: right;
    text-align: center;

    bottom: 200px;
    right: 150px;

    position: absolute;
}

.button {
    color: #fafafa;
    background-color: #0089BA;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    text-align: center;
}

.button:hover {
    color: black;
    background-color: #7B556F;
}

#main-body {
    width: 100%;
    height: 450px;
    margin: 0;
}

#main-body-text {
    width: 40%;
    height: 450px;
    float: left;
    display: block;
    padding: 50px 0 0 50px;
}

#submit-a-hack-section {
    clear: both;
    height: 450px;
    width: 100%;
    text-align: center;
}

#hack-links a {
    text-decoration: none;
    color: inherit;
}

#hack-links a:hover {
    color: #7B556F;
}

#hack-links li {
    list-style-type: none;
    font-family: Lato, arial;
    font-size: 110%;
}

#main-body-image {
    float: left;
    padding-top: 40px;
    position: absolute;
    right: 50px;
}

#pencils-image {
    width: 600px;
    height: 400px;
}

#submit-div {
    padding-top: 20px;
    height: 100%;
    width: 100%;
    background: url('../images/abacus.jpg') no-repeat center center;
    box-shadow: inset 0 0 0 2000px rgba(0, 137, 186, 0.6);
    background-size: 100%;
    background-attachment: fixed;
}

#submit-div h2 {
    color: #fafafa;
    font-size: 3rem;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 3px;
}

#submit-div p {
    color: #fafafa;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

footer {
    height: 150px;
    margin-top: -150px;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}