@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Mono:wght@500&display=swap');

body h1, h2, h3 {
    font-family: Roboto Mono, sans-serif;
}

body p {
    font-family: Lato, arial;
}

#header {
    height: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0089BA;
}

#logo {
    margin: 0 auto;
    padding: 0 25px;
    float: left;
    letter-spacing: 3px;
}

#menu {
    font-size: 120%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 3%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #7B556F;
}

#hero-main {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/hero-image.jpg') no-repeat center center

}

#hero-text {
    background-color: rgba(238, 232, 169, 1);
    height: 300px;
    width: 450px;
    border-radius: 20%;
    font-size: 120%;
    float: right;
    text-align: center;

    bottom: 200px;
    right: 150px;

    position: absolute;
}

.button {
    color: black;
    background-color: #0089BA;
    border: 2px solid #7B556F;
    border-radius: 10px;
    padding: 10px;
    font-size: 120%;
    text-align: center;
}

.button:hover {
    color: white;
    background-color: #7B556F;
    border: 2px solid #0089BA
}